@model IEnumerable<e_ticaret1.Models.Product>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <img src="@product.ImageUrl" class="card-img-top" alt="@product.Name" />
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Price TL</p>
                </div>
            </div>
        </div>
    }
</div>
